In [1]:
#print 0 to 20 by using range

In [5]:
range(0,20)
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
#print range 10 to 20

In [7]:
range(10,20)
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [8]:
#print number of items in the list by using 'len'

In [5]:
num=int(input("Number of item in list 2:"))
len=[10,20,14,55,43,87,76]
for list in len:
    print(list)

Number of item in list 2:7
10
20
14
55
43
87
76

In [52]:
list=[a,r,t,i,f,i,c,i,a,l,I,n,t,e,l,l,e,g,e,n,c,e]
    print("artifical Intellegence")
    print(list)

IndentationError: unexpected indent (3015424950.py, line 2)

In [16]:
name=input("-Your Name-")
age=int(input("-Your age-"))
profession=input("-Your profession-")

-Your Name-vijay
-Your age-29
-Your profession-student

In [ ]:
#using Tuple

In [17]:
Tuple=(1,'Welcome',2,'Hope')
print(Tuple)

(1, 'Welcome', 2, 'Hope')

In [19]:
Tuple1=(0,1,2,3)
Tuple2=('python','HOPE')
Tuple3=(Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [20]:
#print odd number in the list

In [43]:
list=(20,10,16,19,25,1,276,188)
for num in list:
    if((num%2)==1):
       print(num,"is Odd")

19 is Odd
25 is Odd
1 is Odd

In [44]:
#print even numbers in the list

In [46]:
list=(20,10,16,19,25,1,276,188)
for num in list:
    if(num%2==0):
        print(num,"is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even